$color: #606266;
$background-color: white;
$color-hover: #409eff;
$background-color-hover: #ecf5ff;
$font-size: 1.3vw;
$font-family: Arial, sans-serif;

select, input, textarea {
    font-family: $font-family;
    line-height: normal;
    font-size: $font-size;
    background-color: $background-color;
    color : $color;
    border: 0.02px solid $color;
    border-radius: 8px;
    transition: all 0.3s ease;
}

button {
    background-color: $background-color;
    color : $color;
    border-radius: 4px;
    white-space: nowrap;
    border: 0.02px solid $color;
    transition: all 0.3s ease;
    &:hover {
        color: $color-hover;
        background-color: $background-color-hover;
        border: 0.02px solid $color-hover;
    }
}

input {
    :focus {
        color: $color-hover;
        background-color: $background-color-hover;
        border: 0.02px solid $color-hover;
    }
}

select {
    &:focus {
        color: $color-hover;
        border-color: $color-hover;
    }
}

textarea {
    :focus {
        color: $color-hover;
        background-color: $background-color-hover;
    }
}

ul {
    display: flex;
    list-style: none;
    gap: 3%;
    font-size: $font-size;
    color : $color;
    font-family: $font-family;
    transition: all 0.3s ease;
    :hover {
        color: $color-hover;
        transform: scale(1.2);
        cursor: pointer;
    }
}