.PageTournament {
    #PageTournament {
        #round {
            div {
                display: flex;
                column-gap: 10%;
            }
        }

        .button_list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 10px;
        }

        .button {
            border: 1px solid #409eff;
            display: flex;
            width: 20%;
            min-width: 80px;
            justify-content: center;
            &:hover {
                cursor: pointer;
                background-color: #e6e6e6;
            }
        }

        #status {
            font-size: 16px;
        }

        #body {
            width: 80%;
            min-width: 208px;
            display: flex;
            justify-content: center;
            transition: all 0.3s ease;
            #left {
                justify-self: left;
            }
            #right {
                justify-self: right;
            }
            #left, #right {
                min-width: 80px;
                width: 40%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 16px;
            }
            #center {
                justify-self: center;
                min-width: 48px;
                width: 20%;
                color: #3b4144;
                flex-direction: column;
                padding-right: 2px;
                font-size: 14px;
            }
            .winner {
                color: rgb(255, 153, 0);
            }
        }

        :deep(.uni-list-item) {
            .small {
                margin-top: 6px;
                color: #999;
                font-size: 12px;
                overflow: hidden;
            }
            #header {
                width: 30%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 14px;
            }
            #body {
                &:hover {
                    cursor: pointer;
                    scale: (1.05);
                }
            }
            #footer {
                display: flex;
                justify-content: center;
                justify-items: center;
                align-items: center;
                column-gap: 10%;
                width: 20%;
                .button {
                    border: 0.5px solid var(--color);
                    width: 20px;
                    height: 20px;
                    min-width: auto;
                    :hover {
                        background-color: #e6e6e6;
                        cursor: pointer;
                    }
                }
            }
            .input {
                width: 100% !important;
            }
        }

        .match {
            border: 1px solid gray;
            z-index: 0;
            width: 100%;
            background-color: white;
            display: grid;
            justify-content: center;
            justify-items: center;
            #score {
                display: flex;
                justify-content: center;
                justify-items: center;
                column-gap: 10%;
                margin: 3%;
            }
        }

        :deep(#matchList) {
            #footer {
                width: 20%;
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}