.PageTournament {
    #PageTournament {
        .button_list {
            display: flex;
            .button {
                border: 1px solid #409eff;
                display: flex;
                width: 20%;
                justify-content: center;
                &:hover {
                    cursor: pointer;
                    background-color: #e6e6e6;
                }
            }
        }

        :deep(.uni-list-item) {
            #header {
                min-width: 30%;
                .rank {
                    margin-top: 6rpx;
                    color: #999;
                    font-size: 12px;
                    overflow: hidden;
                }
            }
            #body {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                justify-content: center;
                transition: all 0.3s ease;
                #left {
                    justify-self: left;
                }
                #center {
                    justify-self: center;
                }
                #right {
                    justify-self: right;
                }
                &:hover {
                    cursor: pointer;
                    scale: (1.05);
                }
            }
            #footer {
                .button {
                    border: 0.5px solid var(--color);
                    display: flex;
                    justify-content: center;
                    :hover {
                        background-color: #e6e6e6;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}